@{
    ViewData["Title"] = "Home Page";
}
<style>
    #hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  /*background: linear-gradient(0deg, #111111 0%, #292929 100%);*/
  background-image: url("https://media.discordapp.net/attachments/891926461357916170/906156068521005057/872622-drdo-image.png");
  padding: 0;
}

#hero .carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  position: relative;
  height: 80vh;
  padding-top: 60px;
}

#hero h2 {
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  margin-bottom: 30px;
  font-size: 48px;
  font-weight: 700;
}

#hero p {
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0 auto 30px auto;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
}

#hero .carousel-control-prev, #hero .carousel-control-next {
  width: 10%;
}

#hero .carousel-control-next-icon, #hero .carousel-control-prev-icon {
  background: none;
  font-size: 48px;
  line-height: 1;
  width: auto;
  height: auto;
}

#hero .btn-get-started {
  background: #00008B;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 32px;
  border-radius: 5px;
  transition: 0.5s;
  line-height: 1;
  margin: 10px;
  color: #fff;
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s;
  border: 2px solid #00008B;
}

#hero .btn-get-started:hover {
  background: transparent;
  color: #fff;
  text-shadow: 2px 2px 4px #000000;
  text-decoration: none;
}

media (min-width: 1024px) {
  #hero p {
    width: 60%;
  }
  #hero .carousel-control-prev, #hero .carousel-control-next {
    width: 5%;
  }
}

media (max-width: 768px) {
  #hero .carousel-container {
    height: 90vh;
  }
  #hero h2 {
    font-size: 28px;
  }
}

section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding-bottom: 40px;
}

.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  text-shadow: 2px 2px 4px #000000;
  font-family: "Poppins", sans-serif;
}

.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ff0000;
  margin: 4px 10px;
}

.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #2a2c39;
  text-shadow: 2px 2px 4px #000000;
}
</style>
   <section id="hero" class="d-flex flex-column justify-content-end align-items-center px-0">
    <div id="heroCarousel" data-bs-interval="5000" class="container carousel carousel-fade" data-bs-ride="carousel">

      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>DRDO RMS</span></h2>
          <p class="animate__animated fanimate__adeInUp">Welcome to DRDO RMS<br>Resource Management System. Online Meeting Management System for all Department under DRDO
          </p>
          <a href="/dashboard" class="btn-get-started animate__animated animate__fadeInUp scrollto">Get Started</a>
        </div>
      </div>

    </div>

  </section>